[package]
name = "the_logger"
version = "0.5.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lazy_static = "1.4.0"
tokio = { version = "1.35.0", features = ["sync"] }
chrono = { version = "0.4.19" }